* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181f2a;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #dedede;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: #1c2431;
}

.main-header img {
  margin: 2em;
  width: 100px;
}

.main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.main-header nav ul li {
  padding: 1em;
}

.main-header nav ul li a {
  cursor: pointer;
  text-decoration: none;
  padding: 1em 1em .4em 1em;
  color: #dedede;
  font-weight: 500;
}

.main-header nav ul li:hover a {
  -webkit-text-decoration: text-underline-offset;
          text-decoration: text-underline-offset;
  font-weight: 700;
  border-bottom: 2px solid #dedede;
}

main .started-intro {
  position: relative;
  background-color: #1c2431;
}

main .started-intro .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
  position: relative;
  z-index: 2;
}

main .started-intro .content img {
  width: 60%;
}

main .started-intro .content h3 {
  font-size: x-large;
  width: 60%;
  text-align: center;
  margin: 1em;
}

main .started-intro .content p {
  width: 60%;
  text-align: center;
}

main .started-intro .content a {
  padding: 0.5em 3em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to bottom right, #65e2d9, #339ecc);
  border-radius: 1.5em;
  text-decoration: none;
  margin: 2em;
  color: #dedede;
}

main .started-intro #img-background {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

main .cards-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .cards-info .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: auto;
}

main .cards-info .card img {
  width: 60px;
  margin-bottom: 1em;
}

main .cards-info .card h4 {
  text-align: center;
  margin: 0.4em;
}

main .cards-info .card p {
  text-align: center;
}

main .secondary-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 10vh auto;
}

main .secondary-info img {
  width: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-right: 2em;
}

main .secondary-info .content-main h3 {
  font-size: x-large;
  width: 70%;
}

main .secondary-info .content-main p {
  margin: 1em 0;
}

main .secondary-info .content-main .link-work a {
  text-decoration: none;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dedede;
  color: #dedede;
}

main .secondary-info .content-main .link-work a img {
  width: 1em;
}

main .cards-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 20vh auto;
  position: relative;
}

main .cards-bottom .card {
  position: relative;
  z-index: 2;
  width: 300px;
  background-color: #202a3c;
  padding: 1em;
  margin: 1em;
  border-radius: 0.1em;
}

main .cards-bottom .card .info-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

main .cards-bottom .card .info-profile img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0.5em 0.5em 0.5em 0;
}

main .cards-bottom .card .info-profile header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .cards-bottom .card .info-profile header h4 {
  font-size: small;
}

main .cards-bottom .card .info-profile header p {
  font-size: x-small;
}

main .cards-bottom .img-background {
  position: absolute;
  top: -20px;
}

main .get-access {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25vh;
}

main .get-access .content {
  box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 0.64);
  background-color: #1c2431;
  width: 70%;
  position: absolute;
  bottom: -50px;
  padding: 2em;
  border-radius: 0.3em;
}

main .get-access .content h3 {
  text-align: center;
}

main .get-access .content p {
  text-align: center;
}

main .get-access .content form {
  width: 90%;
  margin: 2em auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .get-access .content form > * {
  padding: 1em;
  border: none;
  border-radius: 1.5em;
}

main .get-access .content form input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1em;
}

main .get-access .content form button {
  color: #dedede;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to bottom right, #65e2d9, #339ecc);
}

footer {
  background-color: #0b1523;
  padding: 100px 50px 50px 50px;
}

footer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3em;
}

footer .main .logo-info {
  width: 300px;
}

footer .main .logo-info img {
  width: 100px;
  margin-bottom: 3em;
}

footer .main .logo-info .decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .main .logo-info .decription img {
  width: 1em;
  height: 1em;
  margin-right: 2em;
}

footer .main ul {
  list-style: none;
}

footer .main ul li {
  margin: 1em;
}

footer .main ul li a {
  color: #dedede;
  text-decoration: none;
}

footer .main ul li img {
  width: 1em;
  margin-right: 1em;
}

footer .main .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .main .social-media li {
  width: 25px;
  height: 25px;
  border: 1px solid #dedede;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin: .3em;
}

footer .main .social-media li img {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */